@media screen and (max-width: 1120px) {
  .app-title {
    margin: 23px 0;
  }
  .food-card-item {
    margin-bottom: 22px;
  }
  .food-card-item:not(:last-child) {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1020px) {
  .food-card-item {
    margin-right: 0 !important;
  }
  .app-wrapper {
    max-width: 660px;
  }
  .food-cards {
    justify-content: space-around
  }
}

@media screen and (max-width: 670px) {
  .food-card-item {
    margin-right: 0 !important;
  }
  .food-cards {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .app-title {
    font: 23px 'Exo 2.0';
  }
}